/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

#login {
  width: 350px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: auto;
  margin-bottom: auto;
}

.tags .tag {
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
	white-space: nowrap;
}

.tags .glyph_top {
	top: 2px
}

.dropdown {
  width: 350px;
}

textarea {
  resize: none;
  height: 150px;
  width: 450px;
}
