<div class="input-group" id="login" aria-describedby="sizing-addon3">
	Pick a Start Time: 
	<input type="datetime-local" id="exampleInput" name="input" ng-model="startReservationTime" placeholder="yyyy-MM-ddTHH:mm:ss"required />
	<br><br><br>
	Pick an End Time:
	<input type="datetime-local" id="exampleInput" name="input" ng-model="endReservationTime" placeholder="yyyy-MM-ddTHH:mm:ss"required />
	<br><br><br>	
	<span ng-dropdown-multiselect="" options="allResources" selected-model="resourceToCreate"
	 	 extra-settings="{enableSearch: true, selectionLimit: 1}"
	 	 translation-texts="{buttonDefaultText: 'Select a Resource'}"></span>
	<br><br><br>	
	<button type="button" class="btn btn-default btn-sm" ng-click="createReservation()">Create Reservation</button>

	<div class="alert alert-danger" ng-show="hasError.value">
		<strong>Warning:</strong> {{alertMessage.value}}
		<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearError()"></a>
	</div>
	<div class="alert alert-success" ng-show="hasSuccess.value">
		<strong>Success:</strong> {{successMessage.value}}
		<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearSuccess()"></a>
	</div>
</div>

