<div class="modal-dialog" style="width: 350px;" ng-controller="EditResourceGroupCtrl">
	<div class="modal-content">
	    <div class="modal-header"><h4 class="modal-title">{{selectedGroup.group_name}}</h4></div>
		<div class="modal-body container">
			<select ng-options="resource.name for resource in allResources"
			ng-model="selectedResource" 
			ng-change="getPermission()">
				<option style="display: none" selected disabled value="">Select Resource</option>
			</select>
			<br/>
			<br/>
			<select ng-model="tempGroupPermission"
			ng-options="opt for opt in permissionOptions" ng-show="showPermission">
			</select>
			<br/><br/>
			                <button type="button"
                        class="btn btn-primary btn-md"
                        ng-click="confirmation()" >Update Permissions!</button>
			
		</div>
		<div class="modal-footer">
        <span class="alert alert-success animate-hide" style="width:40%;" ng-show="showEditGroupSuccess">Success!
                <a class="glyphicon glyphicon-ok"></a>
        </span>
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	</div>
</div>