<div class="container">
<div class="row vertical-align">
<div class="col-md-2"></div>
<div class="input-group panel panel-default col-md-5" id="login" aria-describedby="sizing-addon3" style="display: inline-block;">
	<div class="panel-body">
        <h4 style="text-align: center;">Filter Reservations</h4>
		<h5>Pick a Start Time: </h5>
		<input type="datetime-local" id="exampleInput" name="input" ng-model="startTime" placeholder="yyyy-MM-ddTHH:mm:ss"required />
		<br><br>
		<h5>Pick an End Time: </h5>
		<input type="datetime-local" id="exampleInput" name="input" ng-model="endTime" placeholder="yyyy-MM-ddTHH:mm:ss"required />
		<br><br>
		<span ng-dropdown-multiselect="" options="allTags" selected-model="tagsToInclude"
		 	 extra-settings="{enableSearch: true}"
		 	 translation-texts="tagIncludeTranslationText"
		 	 style="vertical-align:top;"></span>
		<span ng-dropdown-multiselect="" options="allTags" selected-model="tagsToExclude"
		 	 extra-settings="{enableSearch: true}"
		 	 translation-texts="tagExcludeTranslationText"
		 	 style="vertical-align:top;"></span><br>
		<br>
		<button type="button" class="btn btn-primary btn-md" ng-click="filterReservations()">Filter Reservations</button>
		<br><br>
	</div>
</div>
<div class="input-group panel panel-default col-md-5" id="login" aria-describedby="sizing-addon3" style="display: inline-block;">
	<div class="panel-body">
		<h4 style="text-align: center;">Create a Reservation</h4>
		<form>
			<fieldset class="form-group">
				<input type="text" class="form-control" placeholder="Name" ng-model="reservationName">
			</fieldset>
			<fieldset class-"form-group">
				<textarea class="form-control" placeholder="Description of Reservation (optional)" ng-model="reservationDescription"></textarea><br>
			</fieldset>
			<br/>
			<fieldset class="form-group" style="width: 100%;">
				<label style="width: 25%;">Start Time:</label>
				<input type="datetime-local" id="exampleInput" name="input" ng-model="startReservationTime" placeholder="yyyy-MM-ddTHH:mm:ss" required style="width: 73.7%;"/>
			</fieldset>
			<fieldset class="form-group">
				<label style="width: 25%;">End Time:</label>
				<input type="datetime-local" id="exampleInput" name="input" ng-model="endReservationTime" placeholder="yyyy-MM-ddTHH:mm:ss"required style="width: 73.7%;"/>
			</fieldset>
			<button type="button" class="btn btn-link" ng-click="selectResources()" style="padding: 0;">Select Resources:</button>
		 	<br/><br/>
		<button type="button" class="btn btn-primary btn-md" ng-click="createReservation()">Create Reservation</button>
		</form>
	</div>
	<div modal-show="showSelectResourceModal.value" class="modal fade">
		<ng-include src="'views/select_resources.html'" ng-if="showSelectResourceModal.value"></ng-include>
	</div>
</div>
</div></div><br>
<div class="alert alert-danger" id="login" ng-show="hasError.value" style="max-width: 350px;">
	<strong>Warning:</strong> {{alertMessage.value}}
	<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearError()"></a>
</div>
<div class="alert alert-success" id="login" ng-show="hasSuccess.value" style="max-width: 350px;">
	<strong>Success:</strong> {{successMessage.value}}
	<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearSuccess()"></a>
</div>
<br><br><br>
<div id="timeline" style="margin: auto;"></div>

