<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title></title>

    <!-- Standard Angular Libraries -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main_controller.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/main_resource_controller.js"></script>
    <script src="scripts/controllers/view_resource.js"></script>
    <script src="scripts/controllers/create_resource.js"></script>
    <script src="scripts/services/resource.js"></script>
    <script src="scripts/controllers/filter_reservation.js"></script>
    <script src="scripts/services/timeline.js"></script>
    <script src="scripts/controllers/create_reservation.js"></script>

    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

        <!-- Dropdown multiselect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="scripts/directives/angularjs-dropdown-multiselect.js"></script>.

    <!-- JQuery Libarries -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>

    <!-- Bootstrap DateTime Libarries -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <script type="text/javascript" src="node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

</head>

<body ng-app="resourceTracker" ng-controller="MainCtrl">
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><button class="btn btn-default btn-sm" ng-show="isAdmin()" ng-click="goToRegisterPage()">Register User</button></li>
                <li><button class="btn btn-default btn-sm" ng-show="isAdmin()" ng-click="goToResourcePage()">Resources</button></li>
                <li><button class="btn btn-default btn-sm" ng-show="user.loggedIn" ng-click="goToFilterReservationPage()">Filter Reservation</button></li>
                <li><button class="btn btn-default btn-sm" ng-show="user.loggedIn" ng-click="goToCreateReservationPage()">Create Reservation</button><li>
                <li><button class="btn btn-default btn-sm" ng-show="user.loggedIn" ng-click="logout()">Logout</button><li>
                <li><button class="btn btn-default btn-sm" ng-click="goToContactPage()">Contact</button></li>
            </ul>
            <h3 class="text-muted">Resource Tracker - Hypotheticorp, LLC </h3>
        </div>
        <div class="footer"></div>
    </div>

    <div ng-view=""></div>

</body>    

</html>

