<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title></title>

    <!-- Standard Angular Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main_controller.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/controllers/main_resource_controller.js"></script>
    <script src="scripts/controllers/view_resource.js"></script>
    <script src="scripts/controllers/create_resource.js"></script>
    <script src="scripts/services/resource.js"></script>
    <script src="scripts/controllers/filter_reservation.js"></script>
    <script src="scripts/services/timeline.js"></script>
    <script src="scripts/controllers/manage_reservation.js"></script>
    <script src="scripts/controllers/system_permission.js"></script>
    <script src="scripts/controllers/edit_group.js"></script>
    <script src="scripts/controllers/edit_user.js"></script>
    <script src="scripts/controllers/token_modal.js"></script>
    <script src="scripts/controllers/user_reservation.js"></script>
    <script src="scripts/services/modify_reservations.js"></script>
    <script src="scripts/controllers/resource_permission.js"></script>
    <script src="scripts/controllers/edit_group_resource_permission.js"></script>
    <script src="scripts/controllers/edit_user_resource_permission.js"></script>    
    <script src="scripts/controllers/pending_reservations.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- Dropdown multiselect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="scripts/directives/angularjs-dropdown-multiselect.js"></script>

    <!-- modalShow -->
    <script type="text/javascript" src="scripts/directives/modalShow.js"></script>

    <!-- JQuery Libarries -->
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>

    <!-- Bootstrap DateTime Libraries -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <script type="text/javascript" src="node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <link rel="stylesheet" href="styles/main.css"/>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body ng-app="resourceTracker" ng-controller="MainCtrl">

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><button class="btn btn-default btn-sm" ng-show="user.loggedIn" ng-click="getToken()">Get API Token</button><li>
                <li><button class="btn btn-default btn-sm" ng-show="user.loggedIn" ng-click="logout()">Logout</button><li>
                <li><button class="btn btn-default btn-sm" ng-click="goToContactPage()">Contact</button></li>
            </ul>
            <h3 class="text-muted">Resource Tracker - Hypotheticorp, LLC </h3>
            <span class="pull-right" ng-show="user.loggedIn && user.first_name.length > 0">Welcome, {{user.first_name}}</span>
        </div>

        <div class="footer"></div>
    </div>

    <div class="row-fluid">
        <div class="span3">
            <div class="span3" style='position:absolute;'>
                <!-- sidebar of page -->
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li ng-class="isTabSelected('/system_permission')"
                            ng-show="user.user_management_permission"
                            ng-click="goToSystemPermissionPage()">
                            <a href="" data-toggle="tab">Manage System Permissions</a></li>

                        <li ng-class="isTabSelected('/resource_permission')"
                            ng-show="user.resource_management_permission"
                            ng-click="goToResourcePermissionPage()">
                            <a href="" data-toggle="tab">Manage Resource Permissions</a></li>

                        <li ng-class="isTabSelected('/register')"
                            ng-show="user.user_management_permission"
                            ng-click="goToRegisterPage()">
                            <a href="" data-toggle="tab">Register Users</a></li>

                        <li ng-class="isTabSelected('/resource')"
                            ng-show="user.resource_management_permission"
                            ng-click="goToResourcePage()">
                            <a href="" data-toggle="tab">Manage Resources</a></li>

                        <li ng-class="isTabSelected('/filter_reservation')"
                            ng-show="user.loggedIn"
                            ng-click="goToFilterReservationPage()">
                            <a href="" data-toggle="tab">Filter and Create Reservations</a></li>

                        <li ng-class="isTabSelected('/manage_reservation')"
                            ng-show="user.reservation_management_permission"
                            ng-click="goToManageReservationPage()">
                            <a href="" data-toggle="tab">Manage Reservations</a></li>

                        <li ng-class="isTabSelected('/user_reservation')"
                            ng-show="user.loggedIn"
                            ng-click="goToUserReservationPage()">
                            <a href="" data-toggle="tab">My Reservations</a></li>

                        <li ng-class="isTabSelected('/pending_reservations')"
                            ng-show="user.loggedIn"
                            ng-click="goToPendingReservationsPage()">
                            <a href="" data-toggle="tab">Pending Reservations</a></li>
                    </ul>
                </div>

            </div>

            <div class='span9'>
                <div class="body" ng-view=""></div>
            </div>
        </div>

    </div>



    <!-- this is the popup modal that corresponds to clicking 'Get Token' -->
    <div modal-show="showTokenModal.value" class="modal fade">
        <ng-include src="'views/token_modal.html'" ng-if="showTokenModal.value"></ng-include>
    </div>

</body>    

</html>
