<div class="input-group" id="login" aria-describedby="sizing-addon3">
	<input type="text" class="form-control" placeholder="username" ng-model="user.username"><br>
	<input type="password" class="form-control" placeholder="password" ng-model="user.password"><br>
	<button type="button" class="btn btn-default btn-sm" ng-click="login()">Login</button>
	<div class="alert alert-danger" ng-show="loginError">
		{{alertMessage}}
		<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="turnOffError()"></a>
	</div>
</div>


