<div class="container">
<div class="row vertical-align">
<div class="input-group panel panel-default col-md-12" id="login" aria-describedby="sizing-addon3" style="display: inline-block; width: auto;">
    <div class="panel-body">
        <div class="control-group">
            <span ng-dropdown-multiselect="" options="resourcesToDisplay" selected-model="selectedResourcesIDs"
                  extra-settings="{enableSearch: true}"
                  translation-texts="{buttonDefaultText: 'Select one or more resource'}"></span> <br/><br/>
            <button type="button"
                    class="btn btn-primary btn-md"
                    ng-click="getReservationsForSelectedResources()">Get Reservations!</button>
        </div>
        <div ng-show="showReservations">
            <table>
                <thead>
                    <tr>
                        <th style="width: 30px; text-align: center;">See Resources</th>
                        <th style="width: 100px; text-align: center;">Title</th>
                        <th style="width: 200px; text-align: center;">Description</th>
                        <th style="width: 150px; text-align: center;">Start Time</th>
                        <th style="width: 150px; text-align: center;">End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="reservation in reservationsToDisplay">
                        <td style="text-align: center;">
                            <button ng-if="reservation.expanded" ng-click="reservation.expanded = false">-</button>
                            <button ng-if="!reservation.expanded" ng-click="reservation.expanded = true">+</button>
                        </td>
                        <td style="text-align: center;">{{reservation.title}}</td>
                        <td style="text-align: center;">{{reservation.description}}</td>
                        <td style="text-align: center;">{{reservation.start_time}}</td>
                        <td style="text-align: center;">{{reservation.end_time}}</td>
                        <br/><br/>
                    </tr>
                    <tr ng-if="reservation.expanded" ng-repeat-end="">
                        <td colspan="3">test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
