<div class="dropdown">
	<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
    	<div class="input-group">
    		<input type="text" class="form-control" data-ng-model="startDate">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    	</div>
  	</a>
  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    	<datetimepicker data-ng-model="startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  	</ul>
</div>

