<button type="button" class="btn btn-default btn-sm" ng-click='enableResourceCreatePanel()'>Create Resource</button><br>
<button type="button" class="btn btn-default btn-sm" ng-click='enableResourceUpdatePanel()'>Modify Resources</button>
<button type="button" class="btn btn-default btn-sm" ng-click='enableResourceViewPanel()'>View Resources</button>

<div class="input-group" id="login" aria-describedby="sizing-addon3" ng-show="activeResourceCreatePanel">
	<input type="text" class="form-control" placeholder="name" ng-model="newResource.name"><br>
	<textarea class="form-control" placeholder="description of resource" ng-model="newResource.description"></textarea><br>
	<input type="text" class="form-control" placeholder="tag" ng-model="activeTag">
	<div class="tags">
		<a ng-repeat="(index, tag) in newResource.tags" class="tag" ng-click="removeTag(index)">{{tag}}</a>
	</div>
	<button type="button" class="btn btn-default btn-sm" ng-click="addTag()">Add Tag</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="createResource()">Create</button>
</div>

<div ng-show="activeResourceModifyPanel">
	MODIFY RESOURCES

</div>


<div ng-show="activeResourceViewPanel">
	VIEW RESOURCES

</div>



