<div class="container" style="max-width: 750px;">
    <div class="row vertical-align">
        <div class="col-md-1"></div>  
        <div class="col-md-5 panel panel-default" id="login">
            <div class="panel-body">
                <table class="table table-hover cursor">
                <thead>
                    <tr>
                        <th>Click to Manage Group Resource Permissions</th>
                    </tr>
                </thead>
                    <tr ng-repeat="group in publicGroupList track by $index" ng-click="selectGroup($index)">
                        <td>{{ group.group_name }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 panel panel-default" id="login">
            <div class="panel-body">
                <table class="table table-hover cursor">
                <thead>
                    <tr>
                        <th>Click to Manage User Permissions</th>
                    </tr>
                </thead>
                    <tr ng-repeat="user in absoluteUserList track by $index" ng-click="selectUser($index)">
                        <td>{{getUserDisplayName(user)}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div modal-show="showEditModal.value" class="modal fade">
    <ng-include src="'views/edit_resource_permission.html'" ng-if="showEditModal.value"></ng-include>
</div>