<div class="container">
<div class="row vertical-align">
<div class="input-group panel panel-default col-md-5" id="login" aria-describedby="sizing-addon3" style="display: inline-block;">
	<div class="panel-header">
    	<h3 style="text-align: center;">Create Resource or Folder</h3>
	</div>
	<div class="panel-body">
		<form>
			<fieldset class="form-group">
	 			<input type="text" class="form-control" placeholder="Name" ng-model="newResource.name">
			</fieldset>
			<fieldset class="form-group">
				<textarea class="form-control" placeholder="Description (optional)" ng-model="newResource.description"></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label>Resource or Folder:</label>
				<label>
	            	<input type="radio" ng-model="newResource.is_folder" value="0"> Resource
	        	</label>
	        	<label>
	            	<input type="radio" ng-model="newResource.is_folder" value="1"> Folder
	        	</label>
			</fieldset>
			<fieldset class="form-group" ng-hide="newResource.is_folder==1">
	        	<label>Resource State:</label>
	        	<label>
	            	<input type="radio" ng-model="newResource.resource_state" value="free"> Free
	        	</label>
	        	<label>
	            	<input type="radio" ng-model="newResource.resource_state" value="restricted"> Restricted
	        	</label>
	        </fieldset>
	        <fieldset class="form-group" ng-hide="newResource.is_folder==1">
	        	<label>Resource Sharing: </label>
	        	<label>
	        		<input type="radio" ng-model="unlimitedResource" ng-value="false"> Limited
	        	</label>
	        	<label>
	        		<input type="radio" ng-model="unlimitedResource" ng-value="true"> Unlimited
	        	</label>
	        	<input type="number" class="form-control" placeholder="Resource Sharing Level" ng-model="newResource.sharing_level" min="1" max="2147483647" ng-disabled="unlimitedResource">
	        </fieldset>
	   	 	<fieldset class="form-group">
				<button type="button" class="btn btn-link" ng-click="addParent()" style="padding: 0;">Select Parent Folder:</button>
				{{resourceMap.get(newResource.parent_id).name}}
			</fieldset>
	   	 	<fieldset class="form-group">
				<input type="text" class="form-control" placeholder="Tag" ng-model="activeTag">
				<div class="tags">
					<span ng-repeat="(index, tag) in newResource.tags" class="tag">{{tag}}
						<a class="glyphicon glyphicon-remove glyph_top" aria-hidden="true" ng-click="removeCreateTag(index)"></a>
					</span>
				</div>
				<button type="button" class="btn btn-secondary btn-sm" ng-click="addCreateTag()">Add Tag</button>
			</fieldset>
			<button type="button" class="btn btn-primary btn-md" ng-click="createResource()">Create</button>
		</form>
		<div modal-show="showAddParentModal.value" class="modal fade">
			<ng-include src="'views/add_parent.html'" ng-if="showAddParentModal.value"></ng-include>
		</div>
	</div>
</div>
</div>
</div>
<div class="alert alert-danger" id="login" ng-show="hasError.value" style="max-width: 350px;">
	<strong>Warning:</strong> {{alertMessage.value}}
	<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearError()"></a>
</div>
<div class="alert alert-success" id="login" ng-show="hasSuccess.value" style="max-width: 350px;">
	<strong>Success:</strong> {{successMessage.value}}
	<a class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="clearSuccess()"></a>
</div>