<div class="modal-dialog" style="width: 350px;" ng-controller="ShowRsrcCtrl">
	<div class="modal-content">
	    <div class="modal-header"><h4 class="modal-title">Resources for {{reservationToModify.reservation_title}}</h4></div>
		<div class="modal-body container">
			<div 
				data-angular-multitreeview="true"
				data-tree-id="myTree"
				data-tree-model="tree"
				data-node-id="id"
				data-node-label="title"
				data-node-children="children">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" ng-click="select()" data-dismiss="modal">Select</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	</div>
</div>